* text=auto

# Binary wheels
*.whl binary diff=zip

# Images
*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.ico binary

# Audio
*.ogg binary

# Fonts
*.bdf binary
*.otf binary
*.ttc binary
*.ttf binary

# Pyxel assets
*.pyxapp binary
*.pyxres binary
*.pyxpal text
