body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F7F9FE;
        color: #202224;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: #FFFFFF;
    }
}

canvas#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
