body {
  background-color: #202124;
  color: #ffffff;
}

a:link {
  color: #cbadec;
}

a:visited {
  color: #9e9ef9;
}

canvas#canvas {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

img#logo {
  image-rendering: pixelated;
  pointer-events: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img#vpad_cross {
  image-rendering: pixelated;
  pointer-events: none;
  position: fixed;
  left: 0%;
  bottom: 0%;
  min-width: 20vmax;
}

img#vpad_button {
  image-rendering: pixelated;
  pointer-events: none;
  position: fixed;
  right: 0%;
  bottom: 0%;
  min-width: 20vmax;
}
