body {
  color: #ffffff;
  background-color: #202124;
}

a:link {
  color: #a9c1ff;
}

a:visited {
  color: #7696de;
}

pre {
  white-space: pre-wrap;
}

.code {
  color: #d38441;
  font-family: monospace;
  font-size: large;
}

canvas#canvas {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

img#pyxel-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 20vmax;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  pointer-events: none;
}

img#input-prompt {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 25vmax;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  pointer-events: none;
}

img#gamepad-cross {
  position: fixed;
  left: 0%;
  bottom: 5%;
  min-width: 20vmax;
  image-rendering: pixelated;
  pointer-events: none;
}

img#gamepad-button {
  position: fixed;
  right: 0%;
  bottom: 5%;
  min-width: 20vmax;
  image-rendering: pixelated;
  pointer-events: none;
}
