body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
    max-height: 100vh;
    max-height: 100svh;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F7F9FE;
        color: #202224;
    }

    a:link {
        color: #0000E4;
    }

    a:visited {
        color: #4E1E86;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: #FFFFFF;
    }

    a:link {
        color: #CBADEC;
    }

    a:visited {
        color: #9E9EF9;
    }
}

canvas#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    height: 100svh;
}

div#message {
    position: absolute;
    left: 50vw;
    top: 50vh;
    top: 50svh;
    padding: 0.4vw 0.6vw 0.4vw 0.6vw;
    border: 1px solid;
    border-radius: 0.5vw;
    transform: translate(-50%, -50%);
}

div#message {
    font-size: 1vw;
    padding: 0.4vw 0.6vw 0.4vw 0.6vw;
    border: 1px solid;
    border-radius: 0.5vw;
}
