body {
  color: #ffffff;
  background-color: #202124;
}

a:link {
  color: #cbadec;
}

a:visited {
  color: #9e9ef9;
}

canvas#canvas {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

img#logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  pointer-events: none;
}

img#gamepad-cross {
  position: fixed;
  left: 0%;
  bottom: 5%;
  min-width: 20vmax;
  image-rendering: pixelated;
  pointer-events: none;
}

img#gamepad-button {
  position: fixed;
  right: 0%;
  bottom: 5%;
  min-width: 20vmax;
  image-rendering: pixelated;
  pointer-events: none;
}
