name: Build

on:
  workflow_call:
    inputs:
      checkout-ref:
        type: string
        default: ''

env:
  WINDOWS: windows-latest
  MACOS: macos-latest
  LINUX: ubuntu-18.04

jobs:
  build-windows:
    runs-on: ${{ WINDOWS }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: |
        make clean all
        python -m pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-windows-lib
        path: pyxel/lib/windows/*

  build-macos:
    runs-on: ${{ MACOS }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: |
        make clean all
        python3 -m pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-macos-lib
        path: pyxel/lib/macos/*

  build-linux:
    runs-on: ${{ LINUX }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt install -y python3.9 libsdl2-dev
        sudo ln -nfs /usr/bin/python3.9 /usr/bin/python3
    - run: |
        make clean all
        python3 -m pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-linux-lib
        path: pyxel/lib/linux/*

  make-wheel:
    runs-on: ubuntu-latest
    needs: [build-windows, build-macos, build-linux]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-windows-lib
        path: pyxel/lib/windows
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-macos-lib
        path: pyxel/lib/macos
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-linux-lib
        path: pyxel/lib/linux
    - run: make wheel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-wheel
        path: dist/*.whl

  package-windows:
    runs-on: ${{ WINDOWS }}
    needs: make-wheel
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: |
        choco install zip
        pip install pyoxidizer
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-wheel
        path: dist
    - run: |
        make dist
        lib/build/pyxel-*/pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-windows-zip
        path: dist/*.zip
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-windows-exe
        path: dist/*.exe

  package-macos:
    runs-on: ${{ MACOS }}
    needs: make-wheel
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: brew install pyoxidizer
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-wheel
        path: dist
    - run: |
        make dist
        lib/build/pyxel-*/pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-macos-zip
        path: dist/*.zip

  package-linux:
    runs-on: ${{ LINUX }}
    needs: make-wheel
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ inputs.checkout-ref }}
    - run: brew install pyoxidizer
    - uses: actions/download-artifact@v2
      with:
        name: pyxel-wheel
        path: dist
    - run: |
        make dist
        lib/build/pyxel-*/pyxel
    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-linux-zip
        path: dist/*.zip
