name: Build

on: [workflow_call, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            arch: x64

          - target: i686-pc-windows-msvc
            os: windows-latest
            arch: x86

          - target: x86_64-apple-darwin
            os: macos-latest
            arch: x64

          - target: aarch64-apple-darwin
            os: macos-latest
            arch: x64

          #- target: aarch64-unknown-linux-gnu
          #  os: ubuntu-latest
          #  arch: x64

          - target: wasm32-unknown-emscripten
            os: ubuntu-latest
            arch: x64

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Emscripten
        if: matrix.target == 'wasm32-unknown-emscripten'
        uses: mymindstorm/setup-emsdk@v11
        with:
          version: '3.1.14'

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Set Rust toolchain
        if: matrix.target == 'wasm32-unknown-emscripten'
        run: |
          echo "RUSTUP_TOOLCHAIN=nightly" >> $GITHUB_ENV

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.arch }}

      - name: Install required packages
        run: |
          pip3 install -r requirements.txt

      - name: Build wheels
        run: |
          make TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist

  build-x86_64-linux:
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux2014_x86_64:latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Add Python to PATH
        run: |
          echo "/opt/python/cp310-cp310/bin" >> $GITHUB_PATH

      - name: Install required packages
        run: |
          yum -y install SDL2-devel
          pip install -r requirements.txt

      - name: Build wheels
        run: |
          make TARGET="x86_64-unknown-linux-gnu"
          ls dist/*

  #build-aarch64-linux:
  #  runs-on: ubuntu-latest
  #  steps:
  #  - name: Set up QEMU
  #    uses: docker/setup-qemu-action@v2
  #    with:
  #      image: quay.io/pypa/manylinux2014_aarm64:latest
  #      platforms: arm64
