name: Build

on: [workflow_call, workflow_dispatch]

jobs:
  build-winmac:
    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            arch: x64

          - target: i686-pc-windows-msvc
            os: windows-latest
            arch: x86

          - target: x86_64-apple-darwin
            os: macos-latest
            arch: x64

          - target: aarch64-apple-darwin
            os: macos-latest
            arch: x64

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.arch }}

      - name: Install Python packages
        run: |
          pip install -r requirements.txt

      - name: Build wheels
        run: |
          make TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist/*

  build-linux:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            image: messense/manylinux2014-cross:x86_64

          - target: i686-unknown-linux-gnu
            image: messense/manylinux2014-cross:i686

          - target: aarch64-unknown-linux-gnu
            image: messense/manylinux2014-cross:aarch64

    runs-on: ubuntu-latest
    container: ${{ matrix.image }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python packages
        run: |
          pip install -r requirements.txt

      - name: Build and install SDL2
        run: |
          export SDL2_VERSION=2.24.0
          export CC=$TARGET_CC
          export AR=$TARGET_AR
          export RANLIB=$TARGET_RANLIB
          curl -sqLO https://github.com/libsdl-org/SDL/releases/download/release-${SDL2_VERSION}/SDL2-${SDL2_VERSION}.tar.gz
          tar xzf SDL2-${SDL2_VERSION}.tar.gz
          cd SDL2-${SDL2_VERSION}
          CFLAGS="-O3 -fPIC" ./configure \
            --build=x86_64-unknown-linux-gnu \
            --host=${{ matrix.target }} \
            --prefix=/usr/${{ matrix.target }}/
          make -j4
          make -j4 install
          cd ..
          rm -rf SDL2-${SDL2_VERSION}

      - name: Build wheels
        run: |
          export RUSTFLAGS="-L/usr/${{ matrix.target }}/lib"
          make TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist/*
