name: Build

on: [workflow_call, workflow_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            arch: x64
            make: make

          - target: i686-pc-windows-msvc
            os: windows-latest
            arch: x86
            make: make

          - target: x86_64-apple-darwin
            os: macos-latest
            arch: x64
            make: make

          - target: aarch64-apple-darwin
            os: macos-latest
            arch: x64
            make: make

          - target: x86_64-unknown-linux-gnu
            os: windows-latest
            arch: x64
            make: make ZIG=1

          - target: aarch64-unknown-linux-gnu
            os: windows-latest
            arch: x64
            make: make ZIG=1

          - target: wasm32-unknown-emscripten
            os: ubuntu-latest
            arch: x64
            make: RUSTUP_TOOLCHAIN=nightly make

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.arch }}

      - name: Install Python packages
        run: |
          pip3 install -r requirements.txt

      - name: Install Zig
        if: matrix.target == 'x86_64-unknown-linux-gnu' || matrix.target == 'aarch64-unknown-linux-gnu'
        run: |
          pip3 install ziglang

      - name: Install Emscripten
        if: matrix.target == 'wasm32-unknown-emscripten'
        uses: mymindstorm/setup-emsdk@v11
        with:
          version: '3.1.14'

      - name: Build wheels
        run: |
          ${{ matrix.make }} TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist/*.whl

  build-manylinux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            image: messense/manylinux2014-cross:x86_64

          - target: aarch64-unknown-linux-gnu
            image: messense/manylinux2014-cross:aarch64

    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install Python packages
        run: |
          pip3 install -r requirements.txt

      - name: Build wheels
        run: |
          make TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist/*.whl
