name: Build

on: [workflow_call, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        target:
          - x86_64-pc-windows-msvc
          #- i686-pc-windows-msvc
          - x86_64-apple-darwin
          - aarch64-apple-darwin
          - x86_64-unknown-linux-gnu
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            arch: x64
          - target: i686-pc-windows-msvc
            os: windows-latest
            arch: x86
          - target: x86_64-apple-darwin
            os: macos-latest
            arch: x64
          - target: aarch64-apple-darwin
            os: macos-latest
            arch: x64
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            arch: x64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      #- name: Install packages for Linux
      #  if: runner.os == 'Linux'
      #  run: |
      #    sudo apt install -y libsdl2-dev

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true

      - name: Install Nightly Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.arch }}

      - name: Install Python packages
        run: |
          pip3 install -r requirements.txt

      - name: Build wheels
        run: |
          make TARGET=${{ matrix.target }}

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: pyxel-wheels
          path: dist
