name: Build2

on: [workflow_call, workflow_dispatch]

jobs:
  build:

    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
        include:
          - target: aarch64-apple-darwin
            os: macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup code
        uses: actions/checkout@v2
      - name: Build
        run: |
          rustup install nightly
          ce pyxel
          pip3 install -r requirements.txt
          make
