name: Build2

on: [workflow_call, workflow_dispatch]

jobs:
  build:

    strategy:
      matrix:
        target:
          - x86_64-pc-windows-msvc
        include:
          - target: x86_64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup code
        uses: actions/checkout@v2
      - name: Build
        run: |
          make TARGET=${{ matrix.target }}
