name: build-wasm

on: [workflow_call, workflow_dispatch]

jobs:
  build-wasm:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Nightly Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2025-02-01
          components: rust-src, rustfmt, clippy

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install Python packages
        run: pip install -r python/requirements.txt

      - name: Build Emscripten for Pyodide
        shell: bash
        run: |
          git clone --branch 0.28.3 --depth 1 https://github.com/pyodide/pyodide.git pyodide
          cd pyodide/emsdk
          CMAKE_POLICY_VERSION_MINIMUM=3.5 make

      - name: Build wheel
        run: |
          source pyodide/emsdk/emsdk/emsdk_env.sh
          make build-wasm

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: pyxel-wasm
          path: dist/*
