name: Build

on: [ workflow_dispatch ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - run: make clean all

    - uses: actions/upload-artifact@v2
      with:
        name: windows-lib
        path: pyxel/lib/windows/*

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: make clean all

    - uses: actions/upload-artifact@v2
      with:
        name: macos-lib
        path: pyxel/lib/macos/*

  build-linux:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - run: sudo add-apt-repository ppa:deadsnakes/ppa
    - run: sudo apt-get install -y python3.9 libsdl2-dev
    - run: sudo ln -nfs /usr/bin/python3.9 /usr/bin/python3
    - run: make clean all

    - uses: actions/upload-artifact@v2
      with:
        name: linux-lib
        path: pyxel/lib/linux/*

  make-wheel:
    runs-on: linux-latest
    needs: [build-windows, build-macos, build-linux]
    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
      with:
        name: windows-lib
        path: pyxel/lib/windows

    - uses: actions/download-artifact@v2
      with:
        name: macos-lib
        path: pyxel/lib/macos

    - uses: actions/download-artifact@v2
      with:
        name: linux-lib
        path: pyxel/lib/linux

    - run: make wheel

    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-wheel
        path: dist/*.whl

#  package-windows:
#    runs-on: windows-latest
#    needs: [make-wheel]
#    steps:
#    - uses: actions/checkout@v2
#    - run: pip install pyoxidizer
#
#    - uses: actions/download-artifact@v2
#      with:
#        name: pyxel-wheel
#        path: dist
#
#    - run: make dist

  package-macos:
    runs-on: macos-latest
    needs: [make-wheel]
    steps:
    - uses: actions/checkout@v2
    - run: brew install pyoxidizer

    - uses: actions/download-artifact@v2
      with:
        name: pyxel-wheel
        path: dist

    - run: make dist

    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-macos-zip
        path: dist/*.zip

  package-linux:
    runs-on: linux-latest
    needs: [make-wheel]
    steps:
    - uses: actions/checkout@v2
    - run: brew install pyoxidizer

    - uses: actions/download-artifact@v2
      with:
        name: pyxel-wheel
        path: dist

    - run: make dist

    - uses: actions/upload-artifact@v2
      with:
        name: pyxel-linux-zip
        path: dist/*.zip
