name: Release

on:
  workflow_dispatch:
    inputs:
      release-tag:
        type: string
        required: true
        default: 'vX.X.X'
      release-name:
        type: string
        required: true
        default: 'Pyxel X.X.X'

jobs:
  call-build:
    uses: kitao/pyxel/.github/workflows/build.yml@main
    with:
      checkout-ref: ${{ github.event.inputs.checkout-ref }}

  create-release:
    runs-on: ubuntu-latest
    needs: call-build
    steps:
    - uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.inputs.release-tag }}
        release_name: ${{ github.event.inputs.release-name }}
        draft: true
        prerelease: true

  #upload-files:
  #  runs-on: ubuntu-latest
  #  needs: create-release
  #  steps:
  #  - uses: actions/upload-release-asset@v1
  #    env:
  #      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #    with:
  #      upload_url: ${{ steps.create_release.outputs.upload_url }}
  #      asset_path: dist/pyxel-windows-*.zip
  #      asset_name: go_linux_amd64.zip
  #      asset_content_type: application/zip
